{{#module}}
   <div class="header" data-region="main">
    
   </div>
{{/module}}
{{#view 'main'}}
    <h1 class="brand-title">Drizzle Demos</h1>
    <h2 class="brand-tagline">一个基于DrizzleJs框架的示例</h2>
    <nav class="nav">
        <ul class="nav-list">
             <!--导航到todos模块 -->
            <li class="nav-item"><a class="pure-button" id="aid2" href="#/todos">todos模块</a></li>
            <!--导航到listbox模块 -->
            <li class="nav-item"><a class="pure-button" href="#/listbox">课程列表模块</a></li>
            <!--声明式加载模块示例 -->
            <li class="nav-item"><a class="pure-button" href="#/dynamic">声明式加载模块</a></li>
            <!--数据请求示例 -->
            <li class="nav-item"><a class="pure-button" href="#/request">数据请求模块</a></li>
        </ul>
    </nav>
{{/view}}